.lookbook-content-wrapper {
  height: 100vh;
}

.mytag {
  font-size: 40px;
}

.lezada-button {
  font-size: 20px;

  padding: 10px 15px;
}

/*lookbook-btn {*/
/*  color: $black--two !important;*/
/*  border-color: $white;*/
/*  background-color: $white;*/
/*&:hover {*/
/*   color: $white !important;*/
/*   background-color: $black--two;*/
/* }*/
